{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", { "exclude": ["transform-classes"] }],
        "@babel/react"
      ]
    }
  }
}
