{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["standard", "standard-react"],
  "rules": {
    "jsx-quotes": 0
  },
  "env": {
    "jest": true,
    "browser": true
  }
}