@import '@primer/css/index.scss';

$blue-650: mix(#0550ae, #033d8b, 50%);
$animationSpeed: 1500ms;

@import 'styles/header-anim';
@import 'styles/main-anim';
@import 'styles/github';

body {
  background-color: var(--bgColor-inset);
}

.btn-outline-blue {
  background-color: transparent;
  color: white;
  border-color: white !important;

  &:hover {
    color: var(--bgColor-accent-muted);
    background-color: white;
  }
}

.blue-700 {
  color: #033d8b;
}

.input-xl {
  font-size: var(--text-title-size-large);
  padding: var(--base-size-8);
  line-height: 1.5;
}

.octicon { fill: currentColor; }